:root {
    --white: hsl(0, 0%, 100%);
    --whiteT: #ffffff10;
    --blackT: #19182620;
    --black: hsl(0, 0%, 0%);
    --fontSans: 'Space Grotesk', sans-serif;
    --lightViolet: hsl(270, 3%, 87%);
    --darkViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
    --red: hsl(0, 100%, 66%);
    color-scheme: light dark;
    font-size: 17px;



    @media (prefers-color-scheme: dark) {
        --black: hsl(0, 0%, 100%);
        --blackT: #ffffff10;
        --whiteT: #19182620;
        --white: hsl(0, 0%, 0%);
        --veryDarkViolet: hsl(270, 3%, 87%);
        --darkViolet: hsl(279, 6%, 55%);
        --lightViolet: hsl(278, 68%, 11%);
        --red: hsl(0, 100%, 66%);
    }



    @media (max-width: 768px) {
        font-size: 16px;
    }

    @media (max-width: 768px) {
        font-size: 15px;
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --black: hsl(0, 0%, 100%);
        --blackT: #ffffff10;
        --whiteT: #19182620;
        --white: hsl(0, 0%, 0%);
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // outline: 1px solid #19182620;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--fontSans);
    background: var(--white);
}

img { max-width: 100%; }
.ucase { text-transform: uppercase; }
.light { font-weight:300; }
.size-1 { font-size: clamp(2.7rem , 2.7rem + 0.4vw, 3rem); }
.size-2 { font-size: clamp(1.7rem , 1.7rem + 0.4vw, 2.9rem); }
.size-3 { font-size: clamp(1.6rem , 1.6rem + 0.4vw, 2.7rem); }
.clr-light { color: var(--white); }
.clr-dark { color: var(--black); }
.clr-dgray { color: var(--veryDarkGray); }
.clr-gray { color: var(--darkGray); }
.list-none { list-style: none; }
.contents { display: contents; }
.flex { display: flex; }
.none { display: none; }
.hidden { visibility: hidden; }
.block { display: block; }
.contents { display: contents; }
.wrap { flex-wrap: wrap; }
.grid { display: grid; }
.lh-head {line-height: 1;}
.spacing { letter-spacing: 5px; }

input, button {font:inherit;}
input {min-width: 0;}

p {font-size: 1.1rem;}




.sgrid {
    --col-count: 6;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(var(--col-count), minmax(0, 9rem)) minmax(2rem, 1fr);

        & > * {
            grid-column: 2 / -2;
        }
        






    @media (min-width: 768px) {

        &.two { --col-number: calc(var(--col-count, 6) / 2); }
        &.three { --col-number: calc(var(--col-count, 6) / 3); }

        &.cols {
            & > * {
                grid-column: span var(--col-number);
            }


            & > *:first-child {
                grid-column: var(--col-start, 2) / span var(--col-number);
            }


            
            & > *:last-child {
                grid-column: span var(--col-number) / calc(var(--col-start, 2) * -1);
            }
        }






    }
}